html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.header {
    padding:7px 0;
    background-color: #CBBED4;
}

.navigation__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.header__logo {
    width: 160px;
}

.navigation__link {
    color:black;
    font-weight:500;
    font-size:16px;
}

.welcome__heading {
    text-align: center;
}

.welcome__main-img {
    width:900px;
    display: block;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 50px;
}

.aboutus__heading, .aboutus__text {
    text-align: center;
    width: 900px;
    display: block;
    margin: 0 auto;
    margin-top:20px;
}

.aboutus__heading {
    margin-bottom: 20px;
}

.articles__heading {
    text-align: center;
}

.articles__list {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articles__item {
    margin-bottom:60px;
    padding:20px;
    border:2px solid mediumpurple;
    border-radius: 1px;
    width: 800px;
    text-align: center;
}

.articles__name {
    display: block;
    font-size:20px;
    margin-bottom:30px;
    font-weight:500;
}
.articles__short-desc {
    margin-bottom: 20px;
}

.article__name {
    text-align: center;
}

.article__date {
    text-align: center;
    font-size:20px;
}

.article__desc {
    width:900px;
    margin:0 auto;
    margin-top:30px;
}

.article__img {
    display:block;
    width: 900px;
    margin: 0 auto;
    margin-top:30px;
    margin-bottom: 30px;
}

.footer {
    padding:7px 0;
    background-color: #CBBED4;
    text-align: center;
}



